<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Crypto_Sim{% endblock %}</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body class="bg bg-dark text-light text-center">
  <nav class="navbar sticky-top navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          Cryptos
        </a>
      </div>
      <ul class="nav navbar-nav nav-tabs text-light">
        {% if request.endpoint != None %}
        <li>
          <form class="navbar-form navbar-right" action="/cryptos">
            <input name="q" class="form-control" placeholder="Search Crypto" id="search">
            <button class="btn btn-default">Search
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                </path>
              </svg>
            </button>
          </form>
        </li>
        {% endif %}
        {% if not g.user %}
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
        {% else %}
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/{{ g.user.id }}">{{g.user.username}}'s Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>



  {% block content %}{% endblock %}


  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/main.js"></script>
</body>


</html>