<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Crypto_Sim{% endblock %}</title>
      
        <link rel="stylesheet"
              href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/popper"></script>
        <script src="https://unpkg.com/bootstrap"></script>
      
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="/static/stylesheets/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
      </head>
<body>
    {% block content %}body content goes here{% endblock %}
</body>
</html>