{% extends 'base.html' %}

{% block title %} {{crypto.name}} {% endblock %}

{% block content %}


<h1 class = "display-1">{{crypto.name}}</h1>
<div class = "wrapper">
<p id = "price">Price : {{crypto.price}}</p>
</div>

  <form method="POST" id="sell_form">
    {{ sellform.hidden_tag() }}

    {% for field in sellform if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-danger btn-block btn-lg"  class = "pt-1">Sell!</button>
  </form>

{% endblock %}