{% extends 'base.html' %}

{% block title %} {{crypto.name}} {% endblock %}

{% block content %}


<h1 class="display-1">{{crypto.name}}</h1>
<div class="wrapper">
    {% if user_positive == True %}
    <p id="price">Price : {{"{:.8f}".format(crypto.price)}} <span class="badge bg-secondary bg-success">+{{
            "%.3f%%" %
            (percent_change)}}</span></p>
    {% elif user_positive == False %}
    <p id="price">Price : {{"{:.8f}".format(crypto.price)}} <span class="badge bg-secondary bg-danger">-{{ "%.3f%%" %
            (percent_change)}}</span></p>
    {% endif %}
    <p id="price">Amount : {{"{:.8f}".format(crypto_amount)}}</p>
    <p id="price">USDT : {{"{:.8f}".format(USDT)}}</p>
</div>
<a class="btn btn-lg btn-success" href="/cryptos/{{crypto.name}}/buy">Buy</a>

<a class="btn btn-lg btn-danger" href="/cryptos/{{crypto.name}}/sell">Sell</a>


{% endblock %}