{% extends 'base.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}

<a href="/logout">Logout</a>
<a href="/">Cryptos</a>


<h1>Username: {{user.username}}</h1>

<p>Value: {{value}}</p>
<ul>
    {% for crypto in users_cryptos %}
    
    <li class='user_cryptos'>

<a href="/cryptos/{{crypto.name}}">Symbol : {{crypto.name}}</a>

        
            <ul>
                <li>Price : {{crypto.price}}</li>
                <li>Amount : {{crypto.amount}}</li>
            </ul>
        
    </li>
    
    {% endfor %}
 
</ul>

{% endblock %}