{% extends 'base.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}



<h1 class="display-1">Username: {{user.username}}</h1>

{% if user_positive == True %}
<h2 class="display-6">Value: {{"{:.2f}".format(value)}} <span class="badge bg-secondary bg-success">+{{
        "%.3f%%" %
        (10000 * percent_change) }}</span></h2>
{% elif user_positive == False %}
<h2 class="display-6">Value: {{"{:.2f}".format(value)}} <span class="badge bg-secondary bg-danger">-{{
        "%.3f%%" % (10000 * percent_change) }}</span></h2>
{% endif %}
<h2 class="display-6">USDT: {{"{:.2f}".format(USDT)}}</h2>
<div class="table-responsive ">
    <table class="table text-light">
        <thead>
            <tr>
                <th>Name:</th>
                <th>Price in USDT:</th>
                <th>Amount:</th>
                <th>Value:</th>
                <th>Actions:</th>
            </tr>
        </thead>
        <tbody>
            {% for crypto in users_cryptos %}
            {% if crypto.name != "USDCUSDT" %}
            <tr>
                <td>
                    <p><a class="btn btn-primary" href="/cryptos/{{crypto.name}}">{{crypto.name}}</a></p>
                </td>
                <td>
                    <p>{{"{:.8f}".format(crypto.price)}}</p>
                </td>
                <td>
                    <p>{{"{:.8f}".format(crypto.amount)}}</p>
                </td>
                <td>
                    <p>{{"{:.2f}".format(crypto.amount *
                        crypto.price)}}</p>
                </td>
                <td><a class="btn btn-success  mb-1" href="/cryptos/{{crypto.name}}/buy">Buy!</a>
                    <a class="btn btn-danger  mb-1" href="/cryptos/{{crypto.name}}/sell">Sell!</a>
                </td>
            </tr>



            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}