{% extends 'base.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}



<h1 class="display-1">Username: {{user.username}}</h1>

{% if user_positive == True %}
<h2 class="display-6 text-success">Value: {{value}}</h2>
{% elif user_positive == False %}
<h2 class="display-6 text-danger">Value: {{value}}</h2>
{% endif %}

<ul class="list-group">
    {% for crypto in users_cryptos %}

    <li class='user_cryptos'>
        <p>Symbol : <a class="btn btn-primary" href="/cryptos/{{crypto.name}}">{{crypto.name}}</a></p>


        <ul class="list-group">
            <div class="wrapper">
                <li id="price" class="pb-3">Price : {{crypto.price}}</li>
                <li id="price" class="pb-3">Amount : {{crypto.amount}}</li>
                <li id="price" class="pb-3">Value of {{crypto.name}}: {{crypto.amount * crypto.price}}</li>
            </div>
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}